<nav class="navbar navbar-expand-lg background  ">
    <div class="container-fluid">
      <a class="navbar-brand color" routerLink="home">START FRAMEWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto padding mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active px-3" aria-current="page" routerLink="about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" routerLink="portofolio">PORTFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" routerLink="contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
