.background
{
    background-color: #2C3E50;
    padding: 30px 0px;
}
.color
{
    font-weight: 700;
    font-size:32px ;
    color: white;
    padding-left:100px; 
}
 .padding
{
    padding-right: 100px;
}
.padding li a
{
    font-weight: 700;
    font-size:16px ;
    color: white;
}
.padding li a:focus
{
    background-color: #1ABC9C;
    border-radius: 10% ;
}